body {
    background-color: #9bbce5; 
}

.BGS{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
  }

  .SignUpBG{
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
    width: 37vw;
    height: 93vh;
    border-radius: 15px;
    background: linear-gradient(#9c95ea, #9aceea);
  }

  .SignUp{
    color: rgba(6, 6, 6, 0.842);
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    font-weight: 900;
    margin-right: 245px;
    margin-top: 70px;
  
  }
  .input-box-S{
    position: relative;
    margin-left: 0px;
    margin-top: 10px;
  }

  .inpS{
    margin-left: 110px;
    margin-top: 20px;
    width: 298px;
    height: 36px;
    border-radius: 5px;
    padding-left: 30px;
  }

.icons {
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateX(720%);
    /* transform: translateY(-50%); */
    font-size: 16px;
    color: #0a0a0a;
  }

  .LoginLink{
    font-size: 20px;
    font-weight: 800;
    font-style: oblique;
    margin-top: 20px;
    margin-left: 110px;
  }

  .SubmitSignUp button{
    margin-left: 110px;
    margin-top: 20px;
    width: 330px;
    height: 46px;
    border-radius: 5px;
    color: white;
    background-color: rgb(69, 81, 209);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    cursor: pointer;
  }
  
  .SubmitSignUp button:hover {
    background-color: #4199c8; 
  }

  .LoginLink{
    font-style: normal;
  }
  .LoginLinkColour{
    color: rgb(169, 15, 15);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900px;

  }

  .error-message-2 {
    color: red;
    font-size: 18px;
    
    margin-left: 140px;
    display: block;
  }

  @media (max-width: 768px) {
    .SignUpBG {
      width: 80vw;
      padding: 15px;
    }
  
    .SignUp {
      font-size: 1.8em;
    }
  
    .SubmitSignUp button {
      font-size: medium;
    }
  }
  
  @media (max-width: 500px) {
    .SignUpBG {
      width: 95vw;
      padding: 10px;
      height: 90vh;
    }
  
    .SignUp {
      font-size: 1.5em;
      margin-right: 14rem;
    }

    .inpS{
      margin-left: 1.2rem;
      margin-top: 20px;
      width: 17.6rem;
      height: 36px;
      border-radius: 5px;
      padding-left: 30px;
    }

    .icons {
      position: absolute;
      top: 50%;
      left: 1px;
      transform: translateX(170%);
  
      font-size: 16px;
      color: #0a0a0a;
    }
  
    .SubmitSignUp button {
      font-size: medium;
      margin-left: 1.2rem;
      width: 19.6rem;
    }
  
    .LoginLink {
      font-size: 0.9em;
      margin-left:2rem;
    }
  
    .error-message-2 {
      font-size: 0.8em;
      margin-left: 2.8rem;
    }
  }