body {
  background-image: url('../Assests/2314950.webp');
  

  
}

.BG {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin:30px ;
  font-size: 1em;
}

.LoginBG {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 253, 253);
  width: 31vw;
  height: 65vh;
  border-radius: 15px;
 /* margin-top: 25px; */
  background: linear-gradient(#9c95ea, #9aceea);
}

.Login {
  color: rgba(6, 6, 6, 0.842);
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin: 10px;
  font-weight: 900;
  margin-right: 13.5rem;
  margin-top: 60px;
}

.Username {
  margin-left: 5.625rem;
  font-size: 1.25em;
  font-weight: 900;
  font-style: normal;
  margin-top: 35px;
}

.Password {
  margin-left: 5.625rem;
  font-size: 1.25rem;
  font-weight: 900;
  font-style: normal;
  margin-top: 20px;
}

.input-box {
  position: relative;
  margin-left: 5.6em;
  margin-top: 10px;
}

.inp,
.inp2 {
  width: 18.7em;
  height: 2.5em;
  border-radius: 5px;
  padding-left: 2.2em; 
}

.icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #0a0a0a;
}

.Submit button {
  margin-left: 90px;
  margin-top: 30px;
  width: 285px;
  height: 46px;
  border-radius: 5px;
  color: white;
  background-color: rgb(69, 81, 209);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  cursor: pointer;
  
}

.Submit button:hover {
  background-color: #4199c8;
}

.SignUpLink {
  font-size: 20px;
  font-weight: 800;
  font-style:normal;
  margin-top: 30px;
  margin-left: 90px;
}

.SignUpLinkColour {
  color: rgb(169, 15, 15);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900px;
}

.error-message {
  color: red;
  font-size: 18px;
  
  margin-left: 30px;
  display: block;
}

@media (max-width: 768px) {
  .LoginBG {
    width: 80vw;
    padding: 15px;
  }

  .Login {
    font-size: 1.8em;
  }

  .Username,
  .Password {
    font-size: 1.1em;
  }

  .Submit button {
    font-size: medium;
  }
}

@media (max-width: 500px) {
  .LoginBG {
    width: 95vw;
    height: 55vh;
    padding: 10px;
  }

  .Login {
    font-size: 1.5em;
  }

  .Username,
  .Password {
    font-size: 1em;
    margin-left: 2.1rem;
  }

  .input-box {
    position: relative;
    margin-left: 2.1rem;
    margin-top: 10px;
  }
  
  .inp,
  .inp2 {
    width: 18.7em;
    height: 2.5em;
    border-radius: 5px;
    padding-left: 2.2rem; 
  }

  .Submit button {
    font-size: medium;
    margin-left: 2.1em;
  }

  .SignUpLink {
    font-size: 0.9em;
    margin-left: 2.6rem;
  }

  .error-message {
    font-size: 0.8em;
  }
}
